.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	margin-top: 40px;
}

.text-field {
	margin-bottom: 24px;
}

.text-field p {
	margin-top: 2px;
}

input {
	width: 100%;
}

.divider {
	margin-top: 16px;
	margin-bottom: 16px;
}

@media screen and (max-width: 567px) {
	form {
		margin-top: 24px;
	}
}